<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>registration form</title>
	<link rel="stylesheet" href="{{url_for('static', filename = 'registration_form.css')}}">
</head>
<body>
	<h1>Registration Form</h1>
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<ul class='flashes's>
			{% for category, message in messages %}
				<li class="{{category}}">{{message}}</li>
			{% endfor %}
			</ul>
		{% endif %}
	{% endwith %}
	<form action="regiform" method="post">
		Email: <input type="text" name="email"><br>
		First name: <input type="text" name="firstname"><br>
		Last name: <input type="text" name="lastname"><br>
		Pass word: <input type="text" name="password"><br>
		Confirm password: <input type="text" name="confirm">
		<input type="submit">
	</form>
</body>
</html>